/* wireframe */
html,
body,
header,
nav,
section,
article,
aside,
footer,
div,
table,
th,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: #000000;
}

body {
  background-color: #F2F6D0
}

#onion-pic {
  width: 10%;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}

.article {
  padding: 10px;
  border-width: 1px;
}

#notes {
  float: right;
  width: 30%;
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}
